body{
    margin: 0; /* pour éviter les marges */
   text-align: center; /* pour corriger le bug de centrage IE */
   background-color: rgba(43, 164, 216, 0.2);
   
}
 
 
.myCanvas {
	display:block;
	margin-left: auto;
	margin-right: auto; 
}
CENTER, aside
{
	display: inline-block;
	vertical-align: top;
	text-align: justify;
}

aside
{
	margin-left: 50px
}